<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.GenderMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Gender">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="gName" jdbcType="VARCHAR" property="gname" />
  </resultMap>
</mapper>