<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pcid" jdbcType="INTEGER" property="pcid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subTitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="originalPrice" jdbcType="REAL" property="originalprice" />
    <result column="currentPrice" jdbcType="REAL" property="currentprice" />
    <result column="storeNum" jdbcType="INTEGER" property="storenum" />
    <result column="manuDate" jdbcType="TIMESTAMP" property="manudate" />
    <result column="lifeTime" jdbcType="REAL" property="lifetime" />
    <result column="specificationi" jdbcType="VARCHAR" property="specificationi" />
    <result column="arrivalTime" jdbcType="TIMESTAMP" property="arrivaltime" />
  </resultMap>
</mapper>